<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent Bike</title>
</head>
<body>
    <form method="POST">
        <b>Model</b>
        <input type="text" placeholder="e.g Honda" name="model"><br>
        <b>Daily fee (VND)</b>
        <input type="text" placeholder="VND" name="dailyfee"><br>
        <b>Image</b>
        <input type="text" placeholder="e.g www.hondaxemay.us" name="image"><br>
        <b>Year</b>
        <input type="text" placeholder="e.g.2014" name="year"><br>
        <button>Submit</button>
    </form>
</body>
</html>