<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Food</title>
</head>
<body>
    <form method="POST">
        <input type="text" placeholder="Tiêu đề" name="title" value="{{food.title}}" required><br><br>
    
        
        <input type="text" placeholder="Mô tả" name="description" value="{{food.description}}" required><br><br>
    
        
        <input type="text" placeholder="Link" name="link" value="{{food.link}}" required><br><br>
    
        
        
    
        <select name="type" value="{{food.type}}">
            <option value="eat">Đồ ăn</option>
            <option value="drink">Đồ uống</option>
        </select>
        
        <button>Xác nhận</button>
</body>
</html>