<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food detail</title>
</head>
<body>
    
        <b>tiêu đề: </b> {{food_detail.title}}<br>
        <b>Mô tả: </b>{{food_detail.description}}<br>
        <img src="{{food_detail.link}}" > <br>
        {% if food_detail.type == "eat" %}
            <b>đây là đồ ăn</b>
        
        {% elif food_detail.type == "drink" %}
            <b>đây là đồ uống</b>
        {% endif %}<br>
</body>
</html>