<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form  method="POST">
        <input type="text" placeholder="Username" name=register_username><br><br>
        <input type="password" placeholder="Password" name=register_password><br><br>
        <!-- <button>Login</button>  bên dưới là cách khác để tạo nút-->
        <input type="submit" value="Register"> 
        <input type="reset" value='Reset'>
    </form>
</body>
</html>