<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rent Bike</title>
    <link rel="stylesheet" href="../static/css/bike_style.css">
</head>
<body>
    <form method="POST">
        <b class="arial">Model</b><br>
        <input type="text" placeholder="e.g Honda" name="model"><br>
        <b class="arial">Daily fee (VND)</b><br>
        <input type="text" placeholder="VND" name="dailyfee"><br>
        <b class="arial">Image</b><br>
        <input type="text" placeholder="e.g www.hondaxemay.us" name="image"><br>
        <b class="arial">Year</b><br>
        <input type="text" placeholder="e.g.2014" name="year"><br>
        <button class="style">Submit</button>
    </form>
</body>
</html>